
.goodocs-logout-link {
  display: block;
  margin-top: 1em;
  margin-left: 1.5em;
}

div#block-goodocs-search div.item-list {
  padding-top: .3em;
}

div#block-goodocs-search div.item-list li {
  margin-top: .2em;
  margin-bottom: .7em
}

p.goodocs-link {
  margin: 0;
  font-size: 1.15em;
}

.goodocs-details {
  font-size: 0.85em;
}
